.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 100rem;
  transition: all 0.3s ease;
}

.btn--primary {
  color: var(--color-white);
  background-image: linear-gradient(
    to right,
    var(--color-primary-02),
    var(--color-primary-03)
  );
}

.btn--primary:hover {
  opacity: 0.6;
}
