.hamburger__label {
  --width: 3rem;
  --height: 2px;
  --bgColor: var(--color-primary-01);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hamburger__label::before,
.hamburger__label::after,
.hamburger__checkbox {
  width: var(--width);
  height: var(--height);
  background-color: var(--bgColor);
  transition: all 0.3s ease;
}

.hamburger__label::before,
.hamburger__label::after {
  content: "";
  display: block;
}

.hamburger__checkbox {
  appearance: none;
}

/* CHECKED */
.hamburger:has(.hamburger__checkbox:checked) .hamburger__checkbox {
  opacity: 0;
  visibility: hidden;
}

.hamburger:has(.hamburger__checkbox:checked) .hamburger__label::before,
.hamburger:has(.hamburger__checkbox:checked) .hamburger__label::after {
  background-color: none;
  background-image: linear-gradient(
    to right,
    var(--color-primary-02),
    var(--color-primary-03)
  );
}

.hamburger:has(.hamburger__checkbox:checked) .hamburger__label::before {
  transform: translateY(1rem) rotate(135deg);
}

.hamburger:has(.hamburger__checkbox:checked) .hamburger__label::after {
  transform: translateY(-0.5rem) rotate(-135deg);
}

/* MEDIA QUERY */
@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
}
